Follow me:
<div id="stalker">
  {% if site.author.github %}
  <a title="{{ site.author.github }} on Github" href="http://github.com/{{ site.author.github }}">
    <i class="icon-github-sign"></i>
  </a>
  {% endif %}

  {% if site.author.hacker_news %}
  <a title="{{ site.author.hacker_news }} on Hacker News" href="http://news.ycombinator.com/user?id={{site.author.hacker_news }}">
    <i class="icon-sign-blank"></i>
    <span class="icon-overlay icon-hn">Y</span>
  </a>
  {% endif %}

  {% if site.author.twitter %}
  <a title="{{ site.author.twitter }} on Twitter" href="http://twitter.com/{{ site.author.twitter }}">
    <i class="icon-twitter-sign"></i>
  </a>
  {% endif %}

  <a title="RSS feed" id="rss" href="/atom.xml">
    <i class="icon-rss-sign"></i>
  </a>
</div>
